* {
  margin: 0;
  padding: 0;

}

.wrapper {
  margin: 0 auto;
  width: 1000px;


}

nav {

  width: 100%;
  height: 80px;
  background-color: #FFF;
  text-align: right;

}

body{
  background-color: #eee;
}

ul {

}

ul li {
  list-style: none;
  display: inline-block;
  line-height: 80px;
}

ul li a{
  text-decoration: none;
  font-size: 14px;
  font-family: Arial;
  color: #1e1e1e;
  padding: 0px 20px 0px 20px;
  display:inline;
}

ul li a:hover{
  color: #32dca5;

}
